/* ---------- Variables and Body ---------- */
:root {
  --border-color: rgb(225, 225, 225);
}

body {
  width: 1080px;
  height: 100%;
  display: flex;
  background-color: rgb(240, 240, 240);
  background-color: linear-gradient(
    45deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(240, 240, 240, 1) 98%
  );
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  color: #424242;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

.fullscreen-element {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0 16px;
  margin: 16px 0 16px 0;
}

ul li {
  margin: 8px 0 8px 0;
}

/* ---------- Intro ---------- */
#intro {
  text-align: center;
}

/* ---------- Top Section ---------- */
#top-section {
  display: flex;
}

#info-about-me-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin-right: 16px;
}

#info {
  margin-bottom: 16px;
  height: 30%;
}

#info-ul-container {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove default padding */
}

#self-img {
  height: 100%;
  width: 60%;
}

/* #temp {
  height: 100%;
} */

#temp img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

/* ---------- Middle Section ---------- */
#middle-section {
  display: flex;
  height: 32em;
  width: 100%;
}

#experiernce {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 16px;
}

#music {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 16px;
  padding: 16px;
}

/* ---------- Bottom Section ---------- */
#bottom-section {
  display: flex;
  height: 20%;
}

#contact {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 16px;
  padding: 16px;
}

#tech-stack {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 16px;
  padding: 16px;
}

#tech-stack-list {
  display: flex;
  flex-wrap: wrap;
}

.tech-stack-card {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  align-content: space-evenly;
  margin-right: 8px;
}

.tech-stack-card-icon {
  padding: 16px;
  margin: 8px;
  border: rgb(156, 156, 156) 1px dashed;
  border-radius: 8px;
}

.tech-stack-card-info {
  overflow-wrap: anywhere;
  margin-right: 16px;
}

#tech-stack-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

/* ---------- Shared Properties ---------- */
.section {
  width: 100%;
  margin: 16px 0;
}

.cards {
  border-radius: 16px;
  border: var(--border-color) 1px solid;
  margin: 8px 8px 8px 8px;
  padding: 16px;
  background: rgb(240, 240, 240);
  background: linear-gradient(
    45deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(240, 240, 240, 1) 98%
  );
  box-shadow: rgba(0, 0, 0, 0.07) 0px 0.25rem 1.25rem 0px;
}

.experience-ul-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ---------- Special Properties ---------- */
#active {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove default padding */
}

#active .active-item {
  position: relative;
  padding-left: 20px; /* Adjust padding to make space for custom bullet */
}

#active .non-active-item {
  position: relative;
  padding-left: 20px; /* Adjust padding to make space for custom bullet */
}

#active .active-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: green; /* Green light color */
  border-radius: 50%; /* Make it round */
  box-shadow: 0 0 10px green; /* Glow effect */
}

#active .non-active-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: grey; /* Green light color */
  border-radius: 50%; /* Make it round */
  box-shadow: 0 0 10px grey; /* Glow effect */
}

/* ---------- Media Queries ---------- */

@media (max-width: 600px) {
  body {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(240, 240, 240);
    background: linear-gradient(
      45deg,
      rgba(240, 240, 240, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(240, 240, 240, 1) 98%
    );
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
  }

  .fullscreen-element {
    width: 100%;
    height: 100%;
  }

  /* Top Section */
  #top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }

  #info-about-me-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 100%;
  }

  #info {
    margin-bottom: 16px;
    height: 30%;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }

  #info-ul-container {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Remove default padding */
  }

  #about-me {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }

  #self-img {
    width: 95%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
  }

  #temp {
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }

  #temp img {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  /* Middle Section */
  #middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    margin: auto;
  }

  #experiernce {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    /* margin: auto; */
  }

  #music {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
  }

  /* Bottom Section */
  #bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
  }

  #tech-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    height: 100%;
  }

  #tech-stack-list {
    display: flex;
    flex-wrap: wrap;
  }

  .tech-stack-card {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    align-content: space-evenly;
    margin-right: 8px;
  }

  .tech-stack-card-icon {
    padding: 16px;
    margin: 8px;
    border: rgb(156, 156, 156) 1px dashed;
    border-radius: 8px;
  }

  .tech-stack-card-info {
    /* overflow-wrap: anywhere; */
    margin-right: 16px;
  }

  #tech-stack-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
  }
}
